body{
    height: 100vh;
    margin: 0;
    display: grid;
    place-items: center;
    background: black;
    overflow: hidden;
    color: white;
}

.spinner{
    width: 200px;
    height: 200px;
    background-color: antiquewhite;
    border-radius: 50%;
    overflow: hidden;
    animation: spin 6s linear infinite;
}

img{
    display: block;
    width: 200%;
    animation: bounce 0.2s linear infinite alternate;
}

@keyframes spin {
    to{
        transform: rotate(1turn);
    }
}
@keyframes bounce {
    to{
        translate: 0 20px;
    }
}
